{% extends 'layout.html' %}

{% load static %}

{% block title %}
Login | Todo App
{% endblock %}

{% block content %}
<section class="vh-100 p-1 d-flex justify-content-center align-items-center">
    <div class="card p-5">
        <h2 class="text-center text-white mb-3">Login Form</h2>
        <div class="card-body">
                {% if messages %}
                <ul class="bd-callout bd-callout-danger">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/login/" method="POST">
                    {% csrf_token %}
                    <!-- Email input -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter username" required>
                        <label for="username">Enter Username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                        <label for="password">Enter Password</label>
                    </div>
                    <!-- Submit button -->
                    <div class="d-grid mb-4">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="d-flex justify-content-around align-items-center ">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-white"
                            href="/register/">Don't have account? Register now</a>
                    </div>
                </form>
            </div>
    </div>
</section>
{% endblock %}